/*@import 'variable';*/
body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%; }

.nopadding {
  padding: 0px; }

.nomargin {
  margin: 0px; }

.padding-all {
  padding: 15px; }

.nopadding-left {
  padding-left: 0px; }

/*// .zmdi-menu:hover {
// 	transition: all 200ms ease;
// 	 transform: rotate(180deg);
// }*/
/*=========== navbar =================*/
.navbar {
  min-height: 40px;
  border-radius: 0px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  margin-bottom: 0px !important; }
  .navbar .navbar-brand {
    height: 40px;
    font-size: 18px;
    line-height: 20px;
    background-color: #2c343b;
    color: #fff;
    padding: 0px;
    line-height: 40px;
    position: relative;
    z-index: 6;
    overflow: hidden;
    width: 220px;
    text-align: center; }
  .navbar .navbar-nav > li > a {
    padding: 10px 15px; }
  .navbar .top-navbar:first-child > li {
    border-right: 1px solid rgba(0, 0, 0, 0.05); }

/*// ===================== navbar side bar =========*/
.sidebar-container {
  width: 220px;
  min-height: 100%;
  /*// position: absolute;*/
  top: 0px;
  /*// padding-top: 40px;*/
  z-index: 4 !important;
  position: fixed;
  /*// top: 51px;*/
  left: 220px;
  /*// width: 225px;*/
  margin-left: -220px;
  border: none;
  border-radius: 0;
  overflow-y: hidden;
  /*// background-color: #222;*/
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px; }
  .sidebar-container .mainnav-wrap {
    background: #2c3e50;
    height: 100%;
    width: 100%;
    position: absolute;
    /*// opacity: 0.9;*/
    /*// =================== profile main ===========*/
    /*// ================ icons ==================*/ }
    .sidebar-container .mainnav-wrap .profile-main {
      min-height: 100px; }
      .sidebar-container .mainnav-wrap .profile-main .profile-wrap {
        padding: 60px 20px 12px; }
        .sidebar-container .mainnav-wrap .profile-main .profile-wrap .user-name {
          padding-top: 15px; }
          .sidebar-container .mainnav-wrap .profile-main .profile-wrap .user-name a {
            text-decoration: none; }
            .sidebar-container .mainnav-wrap .profile-main .profile-wrap .user-name a .sidebar-username {
              font-size: 1.1em;
              font-weight: 600;
              color: #fff;
              margin-bottom: 0px; }
            .sidebar-container .mainnav-wrap .profile-main .profile-wrap .user-name a .zmdi {
              color: #fff;
              font-size: 1.5em; }
            .sidebar-container .mainnav-wrap .profile-main .profile-wrap .user-name a .emp-email {
              color: #fff;
              letter-spacing: 0.02em;
              font-weight: 300;
              font-size: 13px; }
      .sidebar-container .mainnav-wrap .profile-main .profile-avatar .label, .sidebar-container .mainnav-wrap .profile-main .profile-avatar .label-success {
        border-radius: 0px;
        background: #7ccc63; }
    .sidebar-container .mainnav-wrap .profile-icon {
      margin-bottom: 10px;
      margin-top: 10px;
      max-height: 1.7em;
      padding-left: 12px; }
      .sidebar-container .mainnav-wrap .profile-icon i {
        font-size: 1.5em;
        color: #fff;
        font-weight: 300; }

/*// ================= sidebar menu ===============*/
.list-group .menu-title {
  color: #52616d;
  font-weight: 600;
  padding: 10px 15px; }

.list-group i {
  padding: 0 10px 0 0;
  font-size: 1.5em; }

.list-group li {
  color: #52616d;
  font-weight: 600;
  padding: 10px 0px; }

#mainnav-menu a {
  padding: 10px 20px;
  text-decoration: none;
  color: #bdc3c7; }
  #mainnav-menu a:hover {
    color: #fff; }
  #mainnav-menu a .menu-heading {
    font-weight: 600; }

#mainnav-menu > .active-link > a, #mainnav-menu > .active-link > a:hover {
  color: #fff;
  padding-left: 20px;
  font-weight: 600;
  box-shadow: inset 2px 0 0 0 #0c80df; }

/*// /================ main body ======================*/
.main-body {
  background: #d6d6d6;
  width: 100%;
  /*// height: 600px;*/ }
  .main-body .body-wrapper {
    padding-left: 220px;
    width: 100%;
    height: 100%; }
    .main-body .body-wrapper .page-heading {
      display: table;
      table-layout: fixed;
      padding-bottom: 0;
      padding: 10px 15px;
      width: 100%;
      color: #2b425b; }
      .main-body .body-wrapper .page-heading .top-heading {
        font-size: 1.7em;
        font-weight: normal;
        margin: 0px;
        padding: 10px 0px; }
      .main-body .body-wrapper .page-heading .text-overflow {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: table-cell;
        vertical-align: middle; }
      .main-body .body-wrapper .page-heading .search {
        width: 300px;
        display: table-cell;
        vertical-align: middle; }
        .main-body .body-wrapper .page-heading .search .custom-search-form {
          background: transparent;
          border-color: transparent; }
        .main-body .body-wrapper .page-heading .search .form-control {
          background: transparent;
          border-radius: 0px;
          border: 0px none;
          box-shadow: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
        .main-body .body-wrapper .page-heading .search button {
          border: 0;
          background: 0;
          padding: 2px 5px;
          margin-top: 2px;
          position: relative;
          left: -28px;
          font-size: 14px;
          z-index: 2; }

/*// ==================== body content ======================*/
.body-content {
  padding: 15px 15px;
  /*// ============ panel ============*/ }
  .body-content .custom-shail-panel {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0px 2px 0 rgba(0, 0, 0, 0.12); }
    .body-content .custom-shail-panel .panel-heading {
      position: relative;
      height: 50px;
      padding: 0;
      color: #2b425b;
      border-bottom: 1px solid rgba(0, 0, 0, 0.07); }
      .body-content .custom-shail-panel .panel-heading .control-panel {
        height: 100%;
        position: relative;
        float: right;
        padding: 0 15px; }
    .body-content .custom-shail-panel .control-btn {
      background: transparent;
      padding: 6px 7px;
      box-shadow: none;
      font-size: 13px;
      cursor: pointer;
      border-radius: 0;
      border: 1px solid transparent;
      line-height: 1.42857;
      vertical-align: middle;
      transition: all .25s;
      height: 100%; }
    .body-content .custom-shail-panel .chart-heading {
      font-weight: 600;
      padding: 0 20px 0 20px;
      font-size: 1.2em;
      line-height: 50px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0px; }

.panel-pagination ul {
  margin: 0; }

/*// ==================== card =====================
// 0 2px 4px rgba(0,0,0, 0.12),0 2px 4px rgba(0,0,0, 0.24)
// box-shadow: 0 3px 6px rgba(0,0,0, 0.12), 0 3px 6px rgba(0,0,0, 0.24);*/
.card {
  width: 100%;
  max-height: 100%;
  background: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
  border-radius: 4px; }

.card_layout {
  background: #fff; }
  .card_layout .card-head {
    font-weight: 600;
    font-size: 1.2em;
    color: #52616d;
    margin: 5px 0px 0px 0px;
    padding: 0px 0px 0px 10px; }
  .card_layout .card_text {
    font-weight: 400;
    font-size: 0.9em;
    color: #bdc3c7;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0px 0px 8px 10px; }

.card_button {
  position: relative;
  float: right;
  margin-top: -30px; }
  .card_button .btn_share {
    position: absolute;
    top: 0;
    background: #E64A19;
    width: 50px;
    height: 50px;
    right: 5px;
    border-radius: 50%;
    text-align: center;
    display: table;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24); }
    .card_button .btn_share:hover {
      transform: scale(1.1);
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16); }
  .card_button .btn-share:before {
    color: #fff;
    content: "\f35b";
    font-family: 'Material-Design-Iconic-Font';
    /*// line-height: 50px;*/
    display: table-cell;
    vertical-align: middle;
    font-size: 1.5em;
    font-weight: 600; }

/*// =============== card teal ==================*/
.card-teal {
  background: #009688;
  width: 100%;
  height: 200px;
  color: #fff; }
  .card-teal .padding-all .text-heading {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.25; }
  .card-teal .padding-all .progress-bar-text {
    font-size: 13px;
    color: #fff;
    font-weight: 400; }

.progress-sm {
  height: 8px;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1); }
  .progress-sm .progress-bg {
    background: #fff; }

/*// =============== to do list ====================*/
.to-do-list {
  width: 100%;
  border-color: #ddd;
  border: 1px solid transparent;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 2px; }
  .to-do-list .todo-heading {
    padding: 10px 15px;
    border-color: #ddd;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08); }
  .to-do-list .todo-body {
    padding: 15px; }
    .to-do-list .todo-body .list-group .sail-list-group {
      border-color: transparent; }
      .to-do-list .todo-body .list-group .sail-list-group .custom-checkbox {
        position: absolute;
        display: none;
        background: none; }
      .to-do-list .todo-body .list-group .sail-list-group .task-status {
        font-weight: 600;
        font-size: 12px;
        vertical-align: middle; }
      .to-do-list .todo-body .list-group .sail-list-group p {
        font-weight: 300;
        font-size: 12px;
        padding-top: 6px;
        margin: 0px; }

.to-do-default {
  background: #fff; }

.custom-checkbox + label:not(:empty) {
  padding: 0 21px !important; }

.custom-checkbox + label {
  min-width: 16px;
  min-height: 16px; }

.custom-checkbox + label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  margin: 0; }

.custom-checkbox + label:before {
  border-radius: 0; }

.custom-checkbox + label:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  content: "\f26b";
  font-family: 'Material-Design-Iconic-Font';
  border: 1px solid #e0e0e0;
  color: #fff;
  text-align: center;
  vertical-align: middle; }

.custom-checkbox:checked + label:before {
  border: #42a5f5;
  background: #42a5f5; }

.custom-checkbox:checked + label:before {
  animation-name: none; }

/*// ============== add task ================*/
.add-task .form-group {
  margin-bottom: 7px; }
  .add-task .form-group .form-control {
    border-radius: 0px;
    border-color: #ddd; }
  .add-task .form-group .form-title {
    height: 30px; }

.add-task .btn-success {
  border-radius: 0px; }

.add-task input, .add-task textarea,
.add-task input::-webkit-input-placeholder {
  font-size: 10px; }

.stroke {
  text-decoration: line-through; }

/*// =================== card login =============*/
.orange-card {
  width: 100%;
  height: 200px;
  background: #FF5722;
  border-radius: 4px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3); }

/*// ======================== table ===========================*/
.table-wraper .panel-heading {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07); }

.table-wraper i {
  color: #999; }

.table-wraper .pad-bot {
  padding-bottom: 15px; }

.table-wraper .table > thead > tr > th {
  font-size: 1.05em;
  font-weight: 600;
  border-bottom: 1px solid #e9e9e9;
  color: #2b425b; }

.btn-purple {
  background: #9C27B0;
  border-color: #9C27B0;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  border-radius: 0px; }
  .btn-purple:hover, .btn-purple:focus, .btn-purple:active {
    background: darker("#9C27B0, 10%");
    color: #fff;
    border-color: #9C27B0; }
  .btn-purple i {
    color: #fff; }

.table-toolbar-right {
  text-align: right;
  float: right; }
  .table-toolbar-right i {
    color: #999; }
  .table-toolbar-right .form-group {
    vertical-align: top;
    display: inline-block;
    margin: 0px; }
    .table-toolbar-right .form-group .form-control {
      border-radius: 0px;
      border-color: #c9c9c9; }

.table-responsive .label-table {
  display: inline-block;
  width: 80%;
  min-width: 8ex;
  font-size: 1em;
  max-width: 100px;
  font-weight: 400;
  padding: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: top;
  border-radius: 0px; }

.table-responsive .label-success {
  background: #8BC34A; }

.table-responsive .label-info {
  background: #03A9F4; }

/*========================== custom buttons ============================== */
.basic-buttons {
  border-radius: 0px; }
  .basic-buttons .panel-heading {
    border-bottom: 1px solid #ddd; }
  .basic-buttons .panel-body {
    padding: 15px 20px 5px; }

.basic-btn .btn {
  min-width: 17.5%;
  margin: 7px 7px 7px 0;
  border-radius: 0px; }

/*default*/
.btn-default {
  /*box-shadow: 0 3px 10px rgba(0,0,0,0.23),0 3px 10px rgba(0,0,0,0.16);*/
  background-color: #e8e8e8;
  border-color: #d1d9de;
  color: #758697; }

/*= red======= */
.btn-red {
  background: #F44336;
  color: #fff;
  border-color: #F44336; }
  .btn-red:hover, .btn-red:focus, .btn-red:active {
    background: #ea1c0d;
    color: #fff; }

.btn-pink {
  background: #E91E63;
  border-color: #E91E63;
  color: #fff; }

.btn-orange {
  background: #FF9800;
  border-color: #FF9800;
  color: #fff; }

.btn-teal {
  background: #009688;
  border-color: #009688;
  color: #fff; }

.btn-green {
  background: #4CAF50;
  border-color: #4CAF50;
  color: #fff; }

.btn-lime {
  background: #CDDC39;
  border-color: #CDDC39;
  color: #fff; }

.btn-blue {
  background: #3F51B5;
  border-color: #3F51B5;
  color: #fff; }

.btn-cyan {
  background: #00BCD4;
  border-color: #00BCD4;
  color: #fff; }

/*================ rounded button =================*/
.rounded-btn .btn {
  min-width: 17.5%;
  margin: 7px 7px 7px 0;
  border-radius: 0px; }

.btn-round {
  border-radius: 17px !important;
  overflow: hidden; }

.rounded-heading {
  padding: 15px 0px; }

button, button:focus, button:active {
  outline: 0px !important; }

/*================== button icon ================== */
.icon-btn {
  padding-left: 9px;
  padding-right: 9px; }
  .icon-btn .btn {
    margin: 7px 7px 7px 0;
    border-radius: 0px; }
  .icon-btn .btn-icon > i {
    display: inline-block;
    min-width: 1.05em; }
  .icon-btn .icon-lg {
    font-size: 1.333em;
    line-height: 1.095em;
    vertical-align: middle; }

.btn-circle {
  padding: 9px;
  border-radius: 50% !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24); }
  .btn-circle:hover {
    transform: scale(1.1);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16); }

.btn-icon .btn-circle > i {
  display: block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.4; }

.btn-icon > i {
  display: inline-block;
  min-width: 1.05em; }
