body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%; }

.nopadding {
  padding: 0px; }

.nomargin {
  margin: 0px; }

.navbar {
  min-height: 40px;
  border-radius: 0px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  margin-bottom: 0px !important; }
  .navbar .navbar-brand {
    height: 40px;
    font-size: 18px;
    line-height: 20px;
    background-color: #2c343b;
    color: #fff;
    padding: 0px;
    line-height: 40px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    width: 220px;
    text-align: center; }
  .navbar .navbar-nav > li > a {
    padding: 10px 15px; }
  .navbar .top-navbar:first-child > li {
    border-right: 1px solid rgba(0, 0, 0, 0.05); }

.sidebar-container {
  width: 220px;
  min-height: 100%;
  position: absolute;
  top: 0px;
  padding-top: 40px;
  z-index: 4 !important; }
  .sidebar-container .mainnav-wrap {
    background: #2c3e50;
    height: 100%;
    width: 100%;
    position: absolute; }
    .sidebar-container .mainnav-wrap .profile-main {
      min-height: 100px; }
      .sidebar-container .mainnav-wrap .profile-main .profile-wrap {
        padding: 30px 20px 12px; }
        .sidebar-container .mainnav-wrap .profile-main .profile-wrap .user-name {
          padding-top: 15px; }
          .sidebar-container .mainnav-wrap .profile-main .profile-wrap .user-name a {
            text-decoration: none; }
            .sidebar-container .mainnav-wrap .profile-main .profile-wrap .user-name a .sidebar-username {
              font-size: 1.1em;
              font-weight: 600;
              color: #fff;
              margin-bottom: 0px; }
            .sidebar-container .mainnav-wrap .profile-main .profile-wrap .user-name a .zmdi {
              color: #fff;
              font-size: 1.5em; }
            .sidebar-container .mainnav-wrap .profile-main .profile-wrap .user-name a .emp-email {
              color: #fff;
              letter-spacing: 0.02em;
              font-weight: 300;
              font-size: 13px; }
      .sidebar-container .mainnav-wrap .profile-main .profile-avatar .label, .sidebar-container .mainnav-wrap .profile-main .profile-avatar .label-success {
        border-radius: 0px;
        background: #7ccc63; }
    .sidebar-container .mainnav-wrap .profile-icon {
      margin-bottom: 10px;
      margin-top: 10px;
      max-height: 1.7em;
      padding-left: 12px; }
      .sidebar-container .mainnav-wrap .profile-icon i {
        font-size: 1.5em;
        color: #fff;
        font-weight: 300; }

.list-group .menu-title {
  color: #52616d;
  font-weight: 600;
  padding: 10px 15px; }

.list-group i {
  padding: 0 10px 0 0;
  font-size: 1.5em; }

.list-group li {
  color: #52616d;
  font-weight: 600;
  padding: 10px 0px; }

#mainnav-menu a {
  padding: 10px 20px;
  text-decoration: none;
  color: #bdc3c7; }
  #mainnav-menu a:hover {
    color: #fff; }
  #mainnav-menu a .menu-heading {
    font-weight: 600; }

#mainnav-menu > .active-link > a, #mainnav-menu > .active-link > a:hover {
  color: #fff;
  padding-left: 20px;
  font-weight: 600;
  box-shadow: inset 2px 0 0 0 #0c80df; }

.main-body {
  background: #d6d6d6;
  width: 100%;
  height: 600px; }
  .main-body .body-wrapper {
    padding-left: 220px;
    width: 100%;
    height: 100%; }
    .main-body .body-wrapper .page-heading {
      display: table;
      table-layout: fixed;
      padding-bottom: 0;
      padding: 10px 15px;
      width: 100%;
      color: #2b425b; }
      .main-body .body-wrapper .page-heading .top-heading {
        font-size: 1.7em;
        font-weight: normal;
        margin: 0px;
        padding: 10px 0px; }
      .main-body .body-wrapper .page-heading .text-overflow {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: table-cell;
        vertical-align: middle; }
      .main-body .body-wrapper .page-heading .search {
        width: 300px;
        display: table-cell;
        vertical-align: middle; }
        .main-body .body-wrapper .page-heading .search .custom-search-form {
          background: transparent;
          border-color: transparent; }
        .main-body .body-wrapper .page-heading .search .form-control {
          background: transparent;
          border-radius: 0px;
          border: 0px none;
          box-shadow: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
        .main-body .body-wrapper .page-heading .search button {
          border: 0;
          background: 0;
          padding: 2px 5px;
          margin-top: 2px;
          position: relative;
          left: -28px;
          font-size: 14px;
          z-index: 2; }

.body-content {
  padding: 15px 15px; }
  .body-content .custom-shail-panel {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0px 2px 0 rgba(0, 0, 0, 0.12); }
    .body-content .custom-shail-panel .panel-heading {
      position: relative;
      height: 50px;
      padding: 0;
      color: #2b425b;
      border-bottom: 1px solid rgba(0, 0, 0, 0.07); }
      .body-content .custom-shail-panel .panel-heading .control-panel {
        height: 100%;
        position: relative;
        float: right;
        padding: 0 15px; }
    .body-content .custom-shail-panel .control-btn {
      background: transparent;
      padding: 6px 7px;
      box-shadow: none;
      font-size: 13px;
      cursor: pointer;
      border-radius: 0;
      border: 1px solid transparent;
      line-height: 1.42857;
      vertical-align: middle;
      transition: all .25s;
      height: 100%; }
    .body-content .custom-shail-panel .chart-heading {
      font-weight: 600;
      padding: 0 20px 0 20px;
      font-size: 1.2em;
      line-height: 50px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0px; }

.panel-pagination ul {
  margin: 0; }

.card {
  width: 100%;
  max-height: 100%;
  background: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
  border-radius: 4px; }

.card_layout {
  background: #fff; }
  .card_layout .card-head {
    font-weight: 600;
    font-size: 1.2em;
    color: #52616d;
    margin: 5px 0px 0px 0px;
    padding: 0px 0px 0px 10px; }
  .card_layout .card_text {
    font-weight: 400;
    font-size: 0.9em;
    color: #bdc3c7;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0px 0px 8px 10px; }

.card_button {
  position: relative;
  float: right;
  margin-top: -30px; }
  .card_button .btn_share {
    position: absolute;
    top: 0;
    background: #ff4081;
    width: 50px;
    height: 50px;
    right: 5px;
    border-radius: 50%;
    text-align: center;
    display: table;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24); }
    .card_button .btn_share:hover {
      transform: scale(1.1);
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16); }
  .card_button .btn-share:before {
    color: #fff;
    content: "\f35b";
    font-family: 'Material-Design-Iconic-Font';
    display: table-cell;
    vertical-align: middle;
    font-size: 1.5em;
    font-weight: 600; }

.card-teal {
  background: #009688;
  width: 100%;
  height: 200px; }
